<!DOCTYPE html>
{% load static %}
<html>
    <head lang="en">
        <title>Lens Parameter Editor</title>

        <!link rel="stylesheet" type="text/css" href="{% static 'LensDataEditor/Skeleton-2.0.4/css/normalize.css' %}" />
        <!link rel="stylesheet" type="text/css" href="{% static 'LensDataEditor/Skeleton-2.0.4/css/skeleton.css' %}" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>


        <script language="javascript" type="text/javascript">
            function resizeIframe(obj) {
                obj.style.height = obj.contentWindow.document.body.scrollHeight + 'px';
                obj.style.width = obj.contentWindow.document.body.scrollWidth + 'px';
            }
        </script>
    </head>
    <body>
        <div class="container">
            <h2>Optical Design</h2>
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#home">Lens Parameters</a></li>
                <li><a data-toggle="tab" href="#menu1">Ray Parameters</a></li>
                <li><a data-toggle="tab" href="#menu2">Merit Function</a></li>
                <li><a data-toggle="tab" href="#menu3">Configurations</a></li>
            </ul>

            <div class="tab-content">
                <div id="home" class="tab-pane fade in active">
                    <iframe src="LensData/" name="lensData" allowTransparency="true" scrolling="no" frameborder="0" onload="resizeIframe(this)"></iframe>
                </div>
                <div id="menu1" class="tab-pane fade">
                    <iframe src="RayData/" name="rayData" allowTransparency="true" scrolling="no" frameborder="0" onload="resizeIframe(this)"></iframe>
                </div>
                <div id="menu2" class="tab-pane fade">
                    <iframe src="MeritFunction/" name="meritFunction" allowTransparency="true" scrolling="no" frameborder="0" onload="resizeIframe(this)"></iframe>
                </div>
                <div id="menu3" class="tab-pane fade">
                    <iframe src="ConfigData/" name="configData" allowTransparency="true" scrolling="no" frameborder="0" onload="resizeIframe(this)"></iframe>
                </div>
            </div>


        </div>

    </body>
</html>